name: EloqKV Docker 

on:
  workflow_dispatch:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  eloqkv:
    uses: ./.github/workflows/docker.template.yml
    secrets:
      build-args: |
        BUILDER_IMAGE=${{ secrets.DOCKER_ORG }}/builder:latest
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      DOCKER_ORG: ${{ secrets.DOCKER_ORG }}

    with:
      dockerfile: ./scripts/docker/eloqkv.docker
      image-name: eloqkv
