name: EloqKV Docker 

on:
  workflow_dispatch:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  eloqkv:
    uses: ./.github/workflows/docker.template.yml
    with:
      dockerfile: ./scripts/docker/eloqkv.docker
      image-name: eloqkv
    secrets: inherit
